@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f6f6;
  min-height: 100vh;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

h1 {
  color: #163d49;
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 4.375rem;
}

h2 {
  color: #163d49;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.375rem; /* 145.833% */
}

h3 {
  color: #f29383;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 142.857% */
}

p {
  color: #94a6ab;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
}

.label {
  color: #94a6ab;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
}

.value {
  color: #163d49;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
}

.key-number {
  color: #f29383;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 145.833% */
}

.primary-btn {
  display: flex;
  height: 52px;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #f29383;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.primary-btn:hover {
  background-color: #fbded9;
  transition: 0.3s;
}

.search-btn {
  background-color: #f29383;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.search-btn:hover {
  background-color: #fbded9;
  transition: 0.3s;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 146px;
  background: white;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.02);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.38rem;
}

.hero-container {
  display: flex;
  width: 1300px;
  height: 687px;
}

.widget-icon-container {
  display: flex;
  align-items: center;
  margin-right: 0.69rem;
}

.about-container {
  display: flex;
  width: 1300px;
  height: 687px;
}

.separator-type-1 {
  width: 1px;
  height: 35px;
  background-color: #94a6ab;
}

.logo {
  margin-right: 11.625rem;
}

.topbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 52px;
}
.topbar-content .navlinks-container {
  display: flex;
  flex-flow: row nowrap;
}
.topbar-content li {
  color: #94a6ab;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: 0.3s;
  margin-right: 3.438rem;
  cursor: pointer;
}
.topbar-content li:nth-last-child(2) {
  margin-right: 0;
}
.topbar-content li:last-child {
  margin-left: 11.625rem;
  margin-right: 1.12rem;
}
.topbar-content li:hover {
  color: #f29383;
  transition: 0.3s;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
  flex: 1 0 0;
  max-width: 640px;
  margin-right: 4.75rem;
}
.hero-content .search-widget {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 479px;
  height: 92px;
  border-radius: 46px;
  background: #fff;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.02);
}
.hero-content .search-widget .location {
  display: flex;
  margin-left: 5rem;
  margin-right: 1.62rem;
  width: 134px;
  height: 40px;
}
.hero-content .search-widget .location .locations-details {
  display: flex;
  flex-direction: column;
}
.hero-content .search-widget .date {
  display: flex;
  margin-left: 1.62rem;
  margin-right: 0.81rem;
  width: 134px;
  height: 40px;
}
.hero-content .search-widget .date .date-details {
  display: flex;
  flex-direction: column;
}

.hero-img {
  display: flex;
  position: relative;
  width: 584px;
}
.hero-img .img-1 {
  position: absolute;
  top: 25px;
  left: 32px;
  background-image: url(/assets/Europe-city-pics-for-hero.jpg);
  background-size: cover;
  width: 407px;
  height: 523px;
  border-radius: 473px;
}
.hero-img .img-2 {
  position: absolute;
  top: 232px;
  left: 292px;
  background-image: url(/assets/beach-pics-for-hero-img.jpg);
  background-size: cover;
  width: 215px;
  height: 277px;
  border-radius: 473px;
  border: solid 16px #f6f6f6;
}

.img-3 {
  position: absolute;
  top: 13px;
  left: 51px;
  background-image: url(/assets/Roma-city-for-about-section.jpg);
  background-size: cover;
  width: 411px;
  height: 583px;
  border-radius: 486px;
}

.img-4 {
  position: absolute;
  top: 240px;
  left: 200px;
  background-image: url(/assets/Bucarest-city-for-about-content.jpg);
  background-size: cover;
  width: 290px;
  height: 435px;
  border-radius: 145px;
  border: solid 10px #f6f6f6;
}

.about-img {
  display: flex;
  position: relative;
  width: 584px;
  height: 687px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 658px;
  height: 687px;
}

.about-value-prop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.4375rem;
}

.key-number-container {
  display: flex;
  width: 123px;
  flex-direction: column;
  align-items: flex-start;
}

/*# sourceMappingURL=style.css.map */
