@use "variables" as vars;

// navlinks

@mixin navlink-style {
  color: vars.$font-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: 0.3s;
}

@mixin navlink-hover {
  color: vars.$primary-500;
  transition: 0.3s;
}

// buttons

@mixin btn-font {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
