@use "variables" as vars;

// typo

@mixin number-typo-style {
  color: vars.$primary-500;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 145.833% */
}

// navlinks

@mixin navlink-style {
  color: vars.$font-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: 0.3s;
}

@mixin navlink-hover {
  color: vars.$primary-500;
  transition: 0.3s;
}

// buttons

@mixin btn-font {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

@mixin btn-hover {
  background-color: vars.$primary-100;
  transition: 0.3s;
}

// search widget

@mixin search-widget-container-large {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 479px;
  height: 92px;
  border-radius: 46px;
  background: #fff;
  box-shadow: vars.$box-shadow-primary;
}
