@use "variables" as vars;

header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 146px;
  background: white;
  box-shadow: vars.$box-shadow-primary;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.38rem;
}
