@use "variables" as vars;
@use "reset";
@use "buttons";
@use "utilities";
@use "mixins";

// topbar

.logo {
  margin-right: 11.625rem;
}

.topbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 52px;

  .navlinks-container {
    display: flex;
    flex-flow: row nowrap;
  }

  li {
    @include mixins.navlink-style;
    margin-right: 3.438rem;
    cursor: pointer;

    &:nth-last-child(2) {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 11.625rem;
      margin-right: 1.12rem;
    }

    &:hover {
      @include mixins.navlink-hover;
    }
  }
}

// hero

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
  flex: 1 0 0;
  max-width: 640px;
  margin-right: 4.75rem;

  .search-widget {
    @include mixins.search-widget-container-large;

    .location {
      display: flex;
      margin-left: 5rem;
      margin-right: 1.62rem;
      width: 134px;
      height: 40px;

      .locations-details {
        display: flex;
        flex-direction: column;
      }
    }

    .date {
      display: flex;
      margin-left: 1.62rem;
      margin-right: 0.81rem;
      width: 134px;
      height: 40px;

      .date-details {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.hero-img {
  display: flex;
  position: relative;
  width: 584px;

  .img-1 {
    position: absolute;
    top: 25px;
    left: 32px;
    background-image: url(/assets/Europe-city-pics-for-hero.jpg);
    background-size: cover;
    width: 407px;
    height: 523px;
    border-radius: 473px;
  }

  .img-2 {
    position: absolute;
    top: 232px;
    left: 292px;
    background-image: url(/assets/beach-pics-for-hero-img.jpg);
    background-size: cover;
    width: 215px;
    height: 277px;
    border-radius: 473px;
    border: solid 16px vars.$background-500;
  }
}

// about

.img-3 {
  position: absolute;
  top: 13px;
  left: 51px;
  background-image: url(/assets/Roma-city-for-about-section.jpg);
  background-size: cover;
  width: 411px;
  height: 583px;
  border-radius: 486px;
}

.img-4 {
  position: absolute;
  top: 240px;
  left: 200px;
  background-image: url(/assets/Bucarest-city-for-about-content.jpg);
  background-size: cover;
  width: 290px;
  height: 435px;
  border-radius: 145px;
  border: solid 10px vars.$background-500;
}

.about-img {
  display: flex;
  position: relative;
  width: 584px;
  height: 687px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 658px;
  height: 687px;
}

.about-value-prop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.4375rem;
}

.key-number-container {
  display: flex;
  width: 123px;
  flex-direction: column;
  align-items: flex-start;
}
